.EditForm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100vh;
    margin: auto;
}

.EditForm-Form {

    input,
    select {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    select {
        width: 100%;
    }
}

.EditForm-Inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.EditForm-Controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.EditForm-ErrorWrapper {
    position: relative;

    span {
        color: red;
    }

    .EditForm-ErrorWrapper_valid {
        color: green;
    }
}

.EditForm-SaveBtn {
    width: 100%;
}

.EditForm-ArchiveCheckbox {
    display: flex;
    align-items: center;
    line-height: 16px;

    input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.EditForm-ErrorMessage {
    color: red;
    position: absolute;
    right: 0;
    font-size: 16px;
}