.Directory {
    display: flex;
    padding: 40px;
    font-size: 20px;
}

.Directory-Table {
    border: 1px solid #eee;
    table-layout: fixed;
    flex-grow: 2;


    th {
        font-weight: bold;
        padding: 5px;
        background-color: #efefef;
        border: 1px solid #ddd;
        text-align: left;
    }

    td {
        padding: 5px 10px;
        border: 1px solid #eee;
        text-align: left;
        width: 25%;
    }
}

.Directory-Table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.Directory-Table tbody tr:nth-child(even) {
    background-color: #F7F7F7;
}