.Filter {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 20%;

    border: 1px solid #ddd;
    border-radius: 10px;

}

.ArchiveFilter {
    width: 50%;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;

    input {
        margin-right: 5px;
    }
}

.Filter-Role {
    font-size: 16px;
    width: 50%;
    height: 28px;
    background: transparent;
    user-select: none;
    cursor: pointer;

}