.ArchiveFilter {
    margin-bottom: 10px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;

    input {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}

.RoleFilter {
    margin-bottom: 10px;
    background: transparent;
    user-select: none;
    cursor: pointer;
}

.RoleFilter-Select {
    width: 100%
}