.EditForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-size: 24px;
}

.EditForm-Form {
    display: flex;
    flex-direction: column;

    input,
    select {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    select {
        width: 100%;
    }

    label {
        margin-bottom: 15px;
    }
}

.EditForm-ArchiveCheckbox {
    display: flex;
    align-items: center;
    line-height: 16px;

    input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.EditForm-BackBtn {
    margin-bottom: 10px;
}