@charset "utf-8";
$table-head-background-color : rgb(199, 154, 87, .9);
$table-row-hover-background-color: rgb(240, 206, 128);
@import "~bulma/bulma";

body {
    color: rgb(0, 5, 27);
    font-weight: 500;
}

.table {
    background-color: rgba(233, 198, 132, .9);
}